<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="inchworm">

    <!-- Note: Only use this URDF when testing the inchworm kinematics. 
    The inchworm will be fixed to a specific position as determined under 'Static Joint to World Frame' comment -->

    <!-- Import Gazebo ROS Control Plugin -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/inchworm</robotNamespace>
        </plugin>
    </gazebo>

    <!-- Static Joint to World Frame in Simulation -->
    <link name="world"/>

    <joint name="joint_name" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="world"/>
        <child link="inchworm_main"/>
    </joint>

    <xacro:include filename="$(find inchworm_description)/urdf/inchworm_base.urdf.xacro"/>

    <xacro:inchworm_base/>

</robot>