<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="inchworm">

    <!-- Note: Only use this URDF when testing the inchworm kinematics. 
    The inchworm will be fixed to a specific position as determined under 'Static Joint to World Frame' comment -->

    <!-- Import Gazebo ROS Control Plugin -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/inchworm</robotNamespace>
        </plugin>
    </gazebo>

    <!-- Joint Properties -->
    <xacro:property name="joint_speed" value="545"/>        <!-- in rpm -->
    <xacro:property name="joint_torque" value="0.03525"/>   <!-- in N-m -->

    <xacro:include filename="$(find inchworm_description)/urdf/inchworm_base.urdf.xacro"/>

    <xacro:inchworm_base/>

    <!-- Static Joint to World Frame in Simulation -->
    <link name="world"/>

    <joint name="joint_name" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="world"/>
        <!-- Uncomment below if you want to test general kinematics or end effector -->
        <child link="inchworm_main"/>
        <!-- Uncomment below if you want to test front foot kinematics -->
        <!-- <child link="backfoot_ee_link"/>  -->
        <!-- Uncomment below if you want to test back foot kinematics -->
        <!-- <child link="frontfoot_link"/>  -->
    </joint>

</robot>