<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="playground">

    <!-- Note: Only use this URDF when testing the inchworm kinematics. 
    The inchworm will be fixed to a specific position as determined under 'Static Joint to World Frame' comment -->

    <!-- Import Gazebo ROS Control Plugin -->

    <!-- Static Joint to World Frame in Simulation -->
    <link name="world"/>

    <joint name="world_playground_joint" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="world"/>
        <child link="playground"/>
    </joint>

    <!-- Links -->
    <link name="playground">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://inchworm_project_gazebo/meshes/playground.dae"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://inchworm_project_gazebo/meshes/playground.dae"/>
            </geometry>
        </collision>
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="1000.0"/>
            <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
        </inertial>
    </link>

</robot>